@{
    Layout = null;
}



<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        常德牌水表创始于1965年，专业生产智能水表、光电直读水表、无线远传水表、超声波水表、旋翼式水表、螺翼式水表等产品；我们为水资源事业奉献五十余年，悉心为每家每户制造一块健康的准确的表具是我们目标。
    </title>
    <link rel="stylesheet" type="text/css" href="../qt/style/main.css" />
    <link rel="stylesheet" type="text/css" href="../qt/js/flexslider/flexslider.css" />
    <meta name="keywords" content="水表品牌，水表厂家，水表排名，水表改造，水表公司，自来水水表，智能水表，光电直读水表，无线远传水表，宁波水表，三川水表，连利水表，爱克能水表，新天水表，华旭水表，中福水表，汇中水表，瑞光水表，埃美柯水表" />
    <meta name="description" content="水表品牌，水表厂家，水表排名，水表改造，水表公司，自来水水表，智能水表，光电直读水表，无线远传水表，宁波水表，三川水表，连利水表，爱克能水表，新天水表，华旭水表，中福水表，汇中水表，瑞光水表，埃美柯水表" />
    <script type="text/javascript" src="../qt/js/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../qt/js/flexslider/jquery.flexslider-min.js"></script>
    <!-- changdewm.com Baidu tongji analytics -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?7389d8b50bfb6084c9fa9ceba30dee00";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
    <!--top-->
    <div class="topbar">
        <div class="container">
            <a href="/index.aspx" class="logo"><img src="../qt/images/logo.png" /></a>
            <div class="top-right">
                <a href="/index.aspx">中文版</a>◆ <a href="eindex.aspx"> English</a>
                <img src="../qt/images/icon1.jpg" /><a href="#"> 加入收藏</a>
                <img src="../qt/images/icon2.jpg" /> <a href="#"> 设为首页</a>
                <img src="../qt/images/share.jpg" /> <a href="http://changdewmchina.1688.com/"> 阿里巴巴</a>
            </div>
            <!--<div class="top-kh"></div>-->
            <div class="top-hottel">服务热线：400-0033-800</div>
        </div>
    </div>
    <!--/top-->
    <!--menu-->
    <div class="menu">
        <ul class="container">
            <li>
                <a class="nav" href="/index.aspx">首页</a>
            </li>
            <li>
                <a class="nav" href="/aboutus/index.html">企业概况</a>
                <div class="submenu clearfix">
                    <ul class=" clearfix">
                        <li><a href="../aboutus/0.html">企业简介</a></li>
                        <li><a href="../aboutus/1.html">企业文化</a></li>
                        <li><a href="../aboutus/2.html">发展历程</a></li>
                        <li><a href="../aboutus/3.html">组织架构</a></li>
                        <li><a href="../aboutus/4.html">资质荣誉</a></li>
                        <li><a href="../aboutus/5.html">合作交流</a></li>
                    </ul>
                </div>

            </li>
            <li>
                <a class="nav" href="../news/index.html">新闻资讯</a>
                <div class="submenu clearfix">
                    <ul class=" clearfix">
                        <li><a href="../news/0.html">行业新闻</a></li>
                        <li><a href="../news/1.html">企业动态</a></li>
                        <li><a href="../news/2.html">水表常识</a></li>
                    </ul>
                </div>


            </li>
            <li>
                <a class="nav" href="../product/index.html">产品中心</a>
                <div class="submenu clearfix">
                    <ul class=" clearfix">
                        <li><a href="../product/0.html">机械水表</a></li>
                        <li><a href="../product/1.html">智能水表</a></li>
                        <li><a href="../product/2.html">电子水表</a></li>
                        <li><a href="../product/3.html">解决方案</a></li>
                        <li><a href="../product/4.html">下载中心</a></li>
                        <li><a href="../product/5.html">辅助产品</a></li>
                    </ul>
                </div>


            </li>
            <li>
                <a class="nav" href="../quality/index.html">品质保障</a>
                <div class="submenu clearfix">
                    <ul class=" clearfix">
                        <li><a href="../quality/0.html">优质原材料</a></li>
                        <li><a href="../quality/1.html">细节把控</a></li>
                        <li><a href="../quality/2.html">高标准检验</a></li>
                        <li><a href="../quality/3.html">售后承诺</a></li>
                    </ul>
                </div>

            </li>
            <li>
                <a class="nav" href="../hr/index.html">人力资源</a>
                <div class="submenu clearfix">
                    <ul class=" clearfix">
                        <li><a href="../hr/0.html">人才理念</a></li>
                        <li><a href="../hr/1.html">职位招聘</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="nav" href="../cd/index.html">常德印象</a>
                <div class="submenu clearfix">
                    <ul class=" clearfix">
                        <li><a href="../cd/0.html">常德简介</a></li>
                        <li><a href="../cd/1.html">文化名人</a></li>
                        <li><a href="../cd/2.html">玩转常德</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="nav" href="../lx/lx.aspx">联系我们</a></li>
        </ul>
    </div>
    <!--menu-->
    <!--banner-->
    <div class="banner">
        <div class="flexslider">
            <ul class="slides">
                <li class="item" style="background: url(../qt/images/ban1.jpg) 50% 0px no-repeat transparent;"></li>
                <li class="item" style="background: url(../qt/images/indexban2.jpg) 50% 0px no-repeat transparent;"></li>
                <li class="item" style="background: url(../qt/images/indexban3.jpg) 50% 0px no-repeat transparent;"></li>
            </ul>
        </div>
    </div>
    <!--/banner-->
    <!--main body-->
    <div class="main-body clearfix">
        <div class="container">


            <div class="box box-about">
                <div class="box-hd">关于我们/ABOUT US</div>
                <div class="box-bd">
                    <a href="../aboutus/0.html"><img src="../UpLoad/Image/20160101113902187169.jpg" style="margin-bottom:8px;" alt="常德牌水表" /></a>
                    <a href="../aboutus/0.html"> <p><font color="#666666" face="Microsoft YaHei, 宋体"><span style="font-size: 13px; letter-spacing: 0.800000011920929px; line-height: 26px;">湖南常德牌水表制造有限公司创建于1965年，国家经贸委定点水表制造企业，国家二级计量单位。半个世纪的历史水表工艺积淀，成就了一家技术领先....</span></font></p></a>
                </div>
            </div>


            <div class="box box-news">
                <div class="box-tab">
                    <ul>
                        <li onclick="tabs(0)" id="qy0" class="active">企业动态</li>
                        <li onclick="tabs(1)" id="qy1">行业新闻</li>
                        <li onclick="tabs(2)" id="qy2">水表常识</li>
                    </ul>
                </div>
                <div class="box-bdqy" id="cnt1">
                    <div class="t-news clearfix">
                        <a href="../news/1-0-企业动态-67.html "><img src=../UpLoad/image/2016050609543582831.jpg /></a><a href="../news/1-0-企业动态-67.html "><div class="t-news-title">常德牌水表开展帮困慰问活动</div></a><a href="../news/1-0-企业动态-67.html "><div class="t-news-intro">南常德牌水表制造有公司定点扶贫点石门县所街乡骏马溪</div></a>
                    </div>
                    <ul>
                        <li><a href="../news/1-0-企业动态-66.html ">2016年五一放假通知</a></li>
                        <li><a href="../news/1-0-企业动态-54.html ">冰冻天气水表冻坏多 员工加班生产</a></li>
                        <li><a href="../news/1-0-企业动态-19.html ">新厂房建设招标</a></li>
                    </ul>
                </div>
                <div class="box-bdqy" id="cnt2" style="display:none;">
                    <div class="t-news clearfix">
                        <a href="../news/0-0-行业新闻-61.html "><img src=../UpLoad/Image/Small/20160204101846840941.jpeg /></a><a href="../news/0-0-行业新闻-61.html "><div class="t-news-title">体揭水表维修工的人生：“跳水”</div></a><a href="../news/0-0-行业新闻-61.html "><div class="t-news-intro">潮袭击郑州以来，郑州市自来水公司维修工金作....</div></a>
                    </div>
                    <ul>
                        <li><a href="../news/0-0-行业新闻-60.html ">冷天气冻坏水表水管 某地区8000多户居民停水</a></li>
                        <li><a href="../news/0-0-行业新闻-55.html ">5天冻坏3000多块水表</a></li>
                        <li><a href="../news/0-0-行业新闻-53.html ">“爆表” 8000块，都是低温惹的祸</a></li>
                    </ul>
                </div>
                <div class="box-bdqy" id="cnt3" style="display:none;">
                    <div class="t-news clearfix">
                        <a href="../news/2-0-水表常识-64.html "><img src=../UpLoad/Image/Small/20160421101837329959.png /></a><a href="../news/2-0-水表常识-64.html "><div class="t-news-title">水表怎么读数</div></a><a href="../news/2-0-水表常识-64.html "><div class="t-news-intro">多用户不知道自家水表怎么读数，接下来常德水表教您怎</div></a>
                    </div>
                    <ul>
                        <li><a href="../news/2-0-水表常识-63.html ">水表的常见问题</a></li>
                        <li><a href="../news/2-0-水表常识-62.html ">机械水表怎么选型</a></li>
                        <li><a href="../news/2-0-水表常识-58.html ">韶山供水温馨提示做好水表防冻工作</a></li>
                    </ul>
                </div>
            </div>




            <div class="box box-product">
                <div class="box-hd">产品系列/PRODUCTS</div>
                <div class="box-bd">
                    <ul>
                        <li><a href="../product/1.html ">预付费水表系列</a></li>
                        <li><a href="../product/1.html ">远传水表系列</a></li>
                        <li><a href="../product/0.html ">机械水表系列</a></li>
                        <li><a href="../product/3.html ">解决方案</a></li>
                        <li><a href="../product/5.html ">辅助产品</a></li>
                    </ul>
                </div>
            </div>





            <div class="box box-about">
                <div class="box-hd">服务理念/Service Philosophy</div>
                <div class="box-bd">
                    <a class="nav" href="../quality/3.html"><img src="../qt/images/contactus.jpg" alt="服务理念" /></a>

                </div>
            </div>



            <div class="box box-Quality">
                <div class="box-hd">
                    品质保障/Quality raw materials
                    <a class="box-hd-more" href="../quality/index.html">更多+</a>
                </div>

                <div class=" box-bd pic-list">
                    <ul>
                        <li><a href="../quality/0-0.html "><img src="../UpLoad/image/20151203145423171418.png" /><p>产品材质</p></a></li>
                        <li><a href="../quality/1-0.html "><img src="../UpLoad/image/20160101124237546815.jpg" /><p><font color="#666666" face="Microsoft YaHei, 宋体"><span style="line-height: 26px; letter-spacing: 0px; font-size: 13px">细节把控</span></font></p></a></li>
                        <li><a href="../quality/2-0.html "><img src="../UpLoad/image/20160101124323203666.jpg" /><p><font color="#666666" face="Microsoft YaHei, 宋体"><span style="line-height: 26px; letter-spacing: 0px; font-size: 13px">产品检验</span></font></p></a></li>
                    </ul>
                </div>

            </div>




        </div>
    </div>
    <!--/main cnt-->
    <!--friend link-->
    <div class="frindlink">
        <div class="container">

            <div class="frindlink-hd">
                友情连接/LINKS

            </div>

            <div class="friendlink-bd">
                <p><font color="#666666" face="Microsoft YaHei, 宋体"><span style="font-size: 13px; letter-spacing: 0.800000011920929px; line-height: 26px;"><a href="http://www.1688.com">常德牌水表阿里巴巴商铺</a> &nbsp;<a href="http://www.baidu.com">百度</a></span></font></p>
            </div>

        </div>
    </div>
    <!---.friend link-->
    <!--footer-->
    <div class="footer">
        <div class="footerwrap">
            常德牌水表 版权所有 | 湘ICP备16003254号   网站建设：常德牌水表技术部<br />湖南常德牌水表制造有限公司<br />电话：0736-7793866 / 7792494  传真：0736-7951999  邮箱：cd_sb@163.com<br />地址：湖南省常德市武陵区青年路740号
        </div>
    </div>
    <!--/footer-->
    <script>
        $(function () {
            /* menu */
            $('.menu li').each(function () {
                $(this).hover(function () {
                    $(this).children('a').addClass('active');
                    $(this).find('.submenu').show();
                }, function () {
                    $(this).children('a').removeClass('active');
                    $(this).find('.submenu').hide();
                })
            })


            $(".flexslider").flexslider({
                slideshowSpeed: 4000, //展示时间间隔ms
                animationSpeed: 400, //滚动时间ms
                touch: true //是否支持触屏滑动
            });


        });
        /*新闻资讯*/
        function tabs(tabNum) {
            $(".box-bdqy").hide();
            $(".box-bdqy").eq(tabNum).show();
        }
        $("#qy0").click(function () {
            $("#qy1").removeClass();
            $("#qy2").removeClass();
        });
        $("#qy1").click(function () {
            $("#qy0").removeClass();
            $("#qy2").removeClass();
        });
        $("#qy2").click(function () {
            $("#qy1").removeClass();
            $("#qy0").removeClass();
        });
        /*产品中心*/

        //    function ranklist(id, ele, elename, elechild, start_ele, cur_ele) {
        //        var obj_id = document.getElementById(id);
        //        var obj_ele = $tag(obj_id, ele);
        //        for (i = 0; i < obj_ele.length; i++) {
        //            if (obj_ele[i].className.indexOf(elename) == -1) continue;
        //            var objlist = $tag(obj_ele[i], elechild);
        //            for (j = 0; j < objlist.length; j++) {
        //                objlist[j].onmouseover = function () {
        //                    var paris = this.parentNode;
        //                    var list = $tag(paris, elechild);
        //                    for (x = 0; x < list.length; x++) {
        //                        var thisdiv = $tag(list[x], cur_ele)[0];
        //                        var thisp = $tag(list[x], start_ele)[0];
        //                        thisdiv.style.display = "none";
        //                        thisp.style.display = "block";
        //                    }
        //                    var start = $tag(this, start_ele)[0];
        //                    start.style.display = 'none';
        //                    var cur = $tag(this, cur_ele)[0];
        //                    cur.style.display = 'block';
        //                }
        //            }
        //        }
        //    }
        //    function $tag(id, tag) { return id.getElementsByTagName(tag); }
        //    setTimeout("ranklist('ranklist','ul','topcn','li','p','div')", 0);
    </script>
</body>
</html>

