@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        asdfasdfasfasfasdfasdfasfasfasdfasdfasdfasdf
    </div>
    <div>

        常德酱板鸭烹饪过程
        常德酱板鸭选鸭：制板鸭的原料鸭愈肥愈好，并以未生蛋和未换毛者为佳。
        常德酱板鸭腌制：
        1：杀鸭退毛，去内脏，宰去翅尖，鸭脚，从胸脯剖开洗净，再吊起滴干水份。
        2：擦盐。将精盐于锅中炒干，并加入0.125%的茴香，炒至水气蒸发后，取出磨细。其后将鸭称重，用其重的6.25%的干盐。将盐的3/4从颈部切口中装入，反复翻揉，务使盐均匀地粘满腹腔各部。其 的盐擦于体外，应以胸肌、小腿肌和口腔为主。擦盐后依次码在缸中，经盐渍12小时后取出，提起后翅，撑开肛门，使腔中盐水全部流出，这称为扣卤。然后再叠于缸中，经8小时左右进行第二次扣卤。
        3：复腌。第二次扣卤后，把花椒，五香粉，火硝(亚销酸盐)，白糖混合均匀，抹在鸭子身上，肉厚处多抹。南京风味的应抹上甜面酱，湖南风味的加上辣椒粉，然后置缸内腓渍十个小时，中间翻一次，如果鸭大，腌的时间更长。
        4：鸭子出缸后吊起滴干盐水，用热纱布把鸭子身内处擦干，再用两根篾架成十字形撑于鸭子腹中，压成板状，晾干水分。
        5：用谷草引火，撒上糠壳，待初烧青烟散去，将鸭子反复熏烘至金黄色即成。这一步另外一种方法是烤。
        常德酱板鸭调酱汤
        中药配方：安息香18、克花椒100、克丁香10克、干草19克、砂仁19克、黑胡椒25克、当归5克、香叶13克、白蔻18克、桂圆25克、草果30克、白果10克、山奈15克、草寇14克、茴香35克、木香10克、参10克、大料50克、桂皮35克、良姜50克、白胡椒20克、辛夷15克、筚拨5克、陈皮30克。(一定要按比例不要乱来，打个比方中医如果给人家抓药乱抓一通那是什么效果?)
        常德酱板鸭辅料：100斤生货，放盐1000克，味素300克，大酱200克，大蒜30克，糖约500克，蜂蜜100克，树椒150克，红曲米150克药料3天更换一次。调卤水：100斤水放老母鸡3只，猪肉皮3斤，猪前腿骨20斤。全部切块大火烧开10分钟，改小火12小时成奶白色(剩汤的三分之一)调老油：锅中加老汤(一般老师傅那里有)，倒入辣椒片，色拉油1500克煮沸15分钟过滤到卤水。
        常德酱板鸭工艺流程

        中药浸泡30分钟打包入酱缸煮开10分钟放鸭子半成品用篦子压好再煮开30分钟下蜂蜜味素;离火焖半个小时出锅。
        临吃时洗净鸭子，上笼蒸熟，取出刷上麻油，宰成小块装盘。有一种方法是将酱板鸭撕成小条，用来做干锅。

    </div>
    <div style="margin-top:30px;">
        @*<img src="http://img4.cache.netease.com/photo/0026/2014-11-27/AC2RO3AA4CJ80026.jpg" />*@
        <img style="width:600px;" src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1463214730&di=56401caae0404d7f6a3051d990268d9d&src=http://www.deskcar.com/desktop/fengjing/200895150214/21.jpg">
    </div>

    <div style="margin-top:30px;">
        常德酱板鸭烹饪过程
        常德酱板鸭选鸭：制板鸭的原料鸭愈肥愈好，并以未生蛋和未换毛者为佳。
        常德酱板鸭腌制：
        1：杀鸭退毛，去内脏，宰去翅尖，鸭脚，从胸脯剖开洗净，再吊起滴干水份。
        2：擦盐。将精盐于锅中炒干，并加入0.125%的茴香，炒至水气蒸发后，取出磨细。其后将鸭称重，用其重的6.25%的干盐。将盐的3/4从颈部切口中装入，反复翻揉，务使盐均匀地粘满腹腔各部。其 的盐擦于体外，应以胸肌、小腿肌和口腔为主。擦盐后依次码在缸中，经盐渍12小时后取出，提起后翅，撑开肛门，使腔中盐水全部流出，这称为扣卤。然后再叠于缸中，经8小时左右进行第二次扣卤。
        3：复腌。第二次扣卤后，把花椒，五香粉，火硝(亚销酸盐)，白糖混合均匀，抹在鸭子身上，肉厚处多抹。南京风味的应抹上甜面酱，湖南风味的加上辣椒粉，然后置缸内腓渍十个小时，中间翻一次，如果鸭大，腌的时间更长。
        4：鸭子出缸后吊起滴干盐水，用热纱布把鸭子身内处擦干，再用两根篾架成十字形撑于鸭子腹中，压成板状，晾干水分。
        5：用谷草引火，撒上糠壳，待初烧青烟散去，将鸭子反复熏烘至金黄色即成。这一步另外一种方法是烤。
        常德酱板鸭调酱汤
        中药配方：安息香18、克花椒100、克丁香10克、干草19克、砂仁19克、黑胡椒25克、当归5克、香叶13克、白蔻18克、桂圆25克、草果30克、白果10克、山奈15克、草寇14克、茴香35克、木香10克、参10克、大料50克、桂皮35克、良姜50克、白胡椒20克、辛夷15克、筚拨5克、陈皮30克。(一定要按比例不要乱来，打个比方中医如果给人家抓药乱抓一通那是什么效果?)
        常德酱板鸭辅料：100斤生货，放盐1000克，味素300克，大酱200克，大蒜30克，糖约500克，蜂蜜100克，树椒150克，红曲米150克药料3天更换一次。调卤水：100斤水放老母鸡3只，猪肉皮3斤，猪前腿骨20斤。全部切块大火烧开10分钟，改小火12小时成奶白色(剩汤的三分之一)调老油：锅中加老汤(一般老师傅那里有)，倒入辣椒片，色拉油1500克煮沸15分钟过滤到卤水。
        常德酱板鸭工艺流程

        中药浸泡30分钟打包入酱缸煮开10分钟放鸭子半成品用篦子压好再煮开30分钟下蜂蜜味素;离火焖半个小时出锅。
        临吃时洗净鸭子，上笼蒸熟，取出刷上麻油，宰成小块装盘。有一种方法是将酱板鸭撕成小条，用来做干锅。
    </div>
</body>
</html>
